body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  background-color: #e2e8f0;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  font-size: .8em;
  font-weight: 400;
  color: #222;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.wallet-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

h1 {
  margin: 10px 0;
}

.container {
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  box-sizing: border-box;
  padding: 20px;

  label {
    margin: 10px 0;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }
}

input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid rgb(226, 232, 240);
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
}

.button {
  background-color: #319795;
  border-radius: 0.125rem;
  padding: 10px 20px;
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .9em;
  &:hover {
    cursor: pointer;
  }
  border: none;
}

.wallet {
  display: flex;
  flex-grow: 1;
  max-width: 50%;
  flex-direction: column;

  .balance {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .9em;
    margin-top: 10px;
    padding: 0.75rem;
    background-color: #f4f6f8;
    overflow-wrap: break-word;
  }
}

.transfer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  margin: 20px 0 0 0;
  overflow-wrap: break-word;
}
